<style>
	.done {
		text-decoration: line-through;
		color: #b2b2b2;
	}
	.pointerItem {
		cursor: default;
	}
</style>

<div>
	<h1>Crappy ToDo</h1>
		<div class="input-group">
			<input type="text" class="form-control" 
			placeholder="Todo" 
			aria-describedby="basic-addon1" 
			ng-model="todo.name"
			ng-enter="save()">
		</div>
	<div ng-repeat="todo in todos">
		<span class='pointerItem' ng-class="{'done': todo.done}" ng-click="update(todo)">
			<input type="checkbox" ng-checked="todo.done" ng-model="todo.done"> {{todo.name}}
		</span>
	</div>
</div>